@layer reset, theme, global, layout, modules, utilities;

@layer reset {
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  body {
    margin: unset;
  }

  button,
  input,
  textarea,
  select {
    font: inherit;
  }

  img,
  picture,
  svg,
  canvas {
    display: block;
    max-width: 100%;
    height: auto;
  }

  @media (prefers-reduced-motion: reduce) {
    *,
    *::before,
    *::after {
      animation-duration: 0.01ms !important;
      animation-iteration-count: 1 !important;
      transition-duration: 0.01ms !important;
      scroll-behavior: auto !important;
    }
  }
}

@layer theme {
  :root {
    --brand-color: #474cd5;
    --background-color-1: #242424;
    --foreground-color-1: rgba(255, 255, 255, 0.87);
    --font-main: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    --font-heading: Georgia, sans-serif;

    accent-color: var(--brand-color);
    color-scheme: dark;
  }
}

@layer base {
  :root {
    font-size: clamp(1rem, 0.4rem + 0.8svw, 1.2rem);
  }

  body {
    font-family: var(--font-main);
    background-color: var(--background-color-1);
    color: var(--foreground-color-1);
  }

  a:any-link {
    color: var(--brand-color);
  }

  h1 {
    font-family: var(--font-heading);
    font-size: 2.2rem;
  }

  h2 {
    font-size: 1.125rem;
  }

  @media (min-width: 768px) {
    h1 {
      font-size: 3rem;
    }

    h2 {
      font-size: 2rem;
    }
  }
}

@layer layout {
  #root {
    display: grid;
    grid-template-areas:
        "hero stats"
        "tips tips"
        "habits habits";
    grid-template-columns: 1fr 4fr;
    gap: 1rem;
    padding: 2rem;
  }

  /* todo separate classes for layout from classes for modules*/
  .hero {
    grid-area: hero;
  }

  .stats {
    grid-area: stats;
  }

  .tips {
    grid-area: tips;
  }

  .habits {
    grid-area: habits;
  }

  #homepage > header,
  #homepage > footer {
    grid-column: span 2;
  }

  #article > main {
    max-inline-size: 1000px;
    margin-inline: auto;
  }
}

@layer modules {
  .habits {
    display: grid;
    grid-template-columns: auto auto auto 1fr auto;
    grid-gap: 1rem;
  }
  .habits__habit {
    display: grid;
    grid-template-columns: subgrid;
    grid-column: span 5;
    grid-gap: 1rem;
  }

  .stats {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}


/* remove or migrate these to the proper layer */

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
